@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;

    /* Tremor Colors */
    --tremor-brand: #3b82f6;
    --tremor-brand-faint: #eff6ff;
    --tremor-brand-muted: #bfdbfe;
    --tremor-brand-subtle: #60a5fa;
    --tremor-brand-emphasis: #1d4ed8;
    --tremor-brand-inverted: #fff;

    --tremor-background: #fff;
    --tremor-background-muted: #f9fafb;
    --tremor-background-subtle: #f3f4f6;
    --tremor-background-emphasis: #374151;

    --tremor-border: #e5e7eb;

    --tremor-ring: #e5e7eb;

    --tremor-content: #6b7280;
    --tremor-content-subtle: #9ca3af;
    --tremor-content-emphasis: #374151;
    --tremor-content-strong: #111827;
    --tremor-content-inverted: #fff;

    /* Tremor Shadows */
    --tremor-input: '0 1px 2px 0 rgb(0 0 0 / 0.05)';
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    /* Tremor Colors */
    --tremor-brand: #3b82f6;
    --tremor-brand-faint: #0b1229;
    --tremor-brand-muted: #172554;
    --tremor-brand-subtle: #1e40af;
    --tremor-brand-emphasis: #60a5fa;
    --tremor-brand-inverted: #172554;

    --tremor-background: #111827;
    --tremor-background-muted: #131a2b;
    --tremor-background-subtle: #1f2937;
    --tremor-background-emphasis: #d1d5db;

    --tremor-border: #374151;

    --tremor-ring: #1f2937;

    --tremor-content: #6b7280;
    --tremor-content-subtle: #4b5563;
    --tremor-content-emphasis: #e5e7eb;
    --tremor-content-strong: #f9fafb;
    --tremor-content-inverted: #030712;

    /* Tremor Shadows */
    --tremor-input: '0 1px 2px 0 rgb(0 0 0 / 0.05)';
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
